body {
    color: #333333;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
}

p {
    color: #333333;
}

h1, h2, h3 {
    font-family: 'Times New Roman', serif;
    font-size: 2.5em;
    color: white;
    margin-bottom: 10px;
}

.header-container h1 {
    margin-top: 0;
}

.header-container {
    background-color: #deb135;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.header-container p {
    font-size: 1.4em;
    margin: 5px 0;
    color: white;
}

.header-container p:empty {
    height: 1em;
}

.navbar {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    background-color: #333333;
    text-align: center;

    position: relative;   
    top: 0em;             
    left: 0em;            
    width: auto;          
 
}

.navbar li {
    display: inline-block;
    position: relative;
    margin: 0 100px; 
}

.navbar li > a {
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    text-align: left; 
}

.dropdown .dropbtn {
    position: relative; 
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;  
    left: 0;    
    background-color: #1f3349;
    min-width: 14em;
    padding: 0;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    text-align: left;
}

.dropdown-content a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;
}

.dropdown-content a:hover {
    opacity: 0.7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    clear: both;
    padding: 15px 20px;
}

a:hover {
    color: white;
}

@media all {
    body {
        line-height: 1.6;
    }
}

@media print {
    .navbar {
        display: none;
    }
    body {
        background-color: white;
        color: black;
        font-size: 12pt;
    }
}


